@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 30px 10%;
}

.logo,
li,
a,
button {
  font-size: 20px;
  color: rgb(253, 135, 0);
  text-decoration: none;
}

.header-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 100px;
  /* padding: 30px 10%; */
}

.logo {
  font-size: 30px;
  color: rgb(255, 135, 0);
  cursor: pointer;
  margin-right: 50px;
  transition: all 0.3s ease 0s;
}

nav {
  flex-grow: 1;
}

.nav-links {
  list-style: none;
  flex-grow: 1;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover,
.logo:hover {
  color: rgb(255, 90, 0);
}

button {
  padding: 9px 25px;
  color: rgb(255, 255, 255);
  background-color: rgb(253, 135, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(255, 90, 0);
}

.main-container-header {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.paragraph {
  font-size: 42px;
  margin-bottom: 30px;
  padding: 0 30px;
}

.image {
  width: 100%;
  padding: 0 30px;
  transition: transform 0.2s;
}

.image:hover {
  transform: scale(1.1);
}

.main-container-header-left {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  width: 80%;
}

.main-paragraph {
  font-size: 24px;
  padding: 0 30px;
  text-align: justify;
  text-justify: inter-word;
}

.hidden {
  display: none;
}

/* Tic-tac-toe styling */

.game-tic-tac-toe {
  text-align: center;
}

.game-container * {
  box-sizing: content-box;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 306px;
  margin: 50px auto;
}
.cell {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 1px #333333;
  border: 1px solid #333333;
  cursor: pointer;
  line-height: 100px;
  font-size: 60px;
}

.game-status {
  margin-bottom: 20px;
}

.game-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}

.game-back-button {
  font-size: 15px;
}
